<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="shortcut icon" href="./img/robot.svg">
    <title>EBOY|SELL HERE</title>
</head>
<body>

    <div class="containerSuccess">
        <header class="hero">
            <img class="logo" src="./img/Logoeboy.png" alt="image of eboy robot logo">
        </header>

        <div class="container">
        <h1>SUCCESS!</h1>
        <h2>Thank you <%= data.firstName %> <%= data.lastName %></h2> <br>
        <p>You have listed your <%= data.itemName %> </p>
    </div>
    
</body>
</html>
