<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Rubik&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="./style.css" type="text/css">
    <link rel="shortcut icon" href="./img/robot.svg">
    <title>EBOY|SELL HERE</title>
</head>
<body>

    <div class="containerSuccess">
        <header class="hero">
            <img class="logo" src="./img/Logoeboy.png" alt="image of eboy robot logo">
        </header>

        <div class="container">
        <h1>FOR SALE!</h1> <br>
        <h2>Seller: <%= data.fullName %></h2> <br>
        <p>Item for sale: <b><%= data.itemName %></b></p>
        <p>Item price £: <em><%= data.itemPrice %></em></p>

        <form action="/" method="get">
            <button id="backButton" type="submit" formmethod="get">Back</button>
        </form>

        <span id="instruct">"Thank you Human."</span>
    </div>
    
</body>
</html>
